 
.options-btn {
  padding: 0.52vw 1.25vw;
  border: none;
  border-radius: 18px; /* keep pill shape */
  font-size: 0.83vw;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.proceed-btn {
  background-color: #ddd;
  color: #666;
  cursor: not-allowed;
}
.upload-click {
  background-color: #000;
  color: #fff;
}
.upload-click:hover {
  background-color: #222;
}
.selected-file {
    border: 1pt solid #000;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    gap: 1vw;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vw;
    cursor: pointer;
    z-index: 9;

}

.file-img {
    width: 2.5vw;
}
.upload-file-screen{
  display: flex;
}
.upload-file-icon{
  width: 40%;
}
.upload-file-frame{
  width: 60%;
}
.divider {
  width: 10px;
  background-color: #999;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.divider span {
  font-size: 12px;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  pointer-events: none;
}
 
 